<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.sharif.mpqueraapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MPQueraApp">
        <activity
            android:name=".view.coursePage.CoursePageActivity"
            android:exported="true" />
        <activity
            android:name=".view.mainPage.CreateCourseActivity"
            android:exported="true" />
        <activity
            android:name=".view.mainPage.student.JoinCourseActivity"
            android:exported="true"
            android:parentActivityName=".view.mainPage.MainPageActivity" />
        <activity
            android:name=".view.exercise.ExercisePage"
            android:exported="true" />
        <activity
            android:name=".view.mainPage.MainPageActivity"
            android:exported="false"
            android:parentActivityName=".view.authentication.AuthActivity" />
        <activity
            android:name=".view.authentication.AuthActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.MPQueraApp.NoActionBar" />
    </application>

</manifest>